@{
    ViewBag.Title = "Cadastro ou Edição de Produtos";
}

@model Comparador.Models.Produto

    <form method="post">
        <div class="jumbotron">
            <h1>Produto</h1>
        </div>

        <div class="row bg-danger">
            @ViewBag.Error
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(p => p.Nome)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(p => p.Nome)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(p => p.Valor)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(p => p.Valor)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(p => p.Garantia)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(p => p.Garantia)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(p => p.GastoEnergiaHora)
            </div>
            <div class="col-md-9">
                @Html.EditorFor(p => p.GastoEnergiaHora)
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
            <div class="col-md-9">
                <button type="button" class="btn btn-danger pull-right" onclick="@("window.location.href='" + @Url.Action("Index", "Produto") + "'");">Voltar</button>
            </div>
        </div>

    </form>